services:
  LogGuard:
    image: netosvaltools/log-guard:latest
    container_name: LogGuard
    ports:
      - "5000:5000"
    volumes:
      - ./app/data:/app/data
     #- /var/log/servidor-syslog:/logs/servidor-syslog:ro  # Monta el directorio /var/log/servidor-syslog como solo lectura
     #- /var/log/samba:/logs/samba:ro                      # Monta el directorio de logs de Samba como solo lectura
      - /var/log/auth.log:/logs/auth.log:ro                # Monta el archivo auth.log como archivo suelto
    environment:
      - TZ=America/Bogota
      - LOG_DIR=/logs                                     
    restart: unless-stopped
